* {
  margin: 0;
  padding: 0;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* min-height: 20px; */
  height: 50px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 40px; */
}

.navbar > * {
  /* padding-top: 500px; */
  /* color: black; */
  /* color: white; */
  padding-left: 5px;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.navbar a,
li a,
li {
  color: white;
}

.container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
}

ul {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
li button {
  border-radius: 5px;
  padding: 2px 4px;
  outline: none;
  border: none;
  font-size: 20px;
  background-color: white;
  border: 2px solid white;
}
li button:active {
  border: 2px solid black;
}

input {
  /* size: 10px; */
  /* padding: 5px; */
  /* box-sizing: border-box; */
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 20px;
  /* width: 50px; */
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input:focus {
  border-bottom: 2px solid red;
}

.boxHolder {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  /* background-color: red; */
}

.box {
  border: solid black 5px;
  border-radius: 10px;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(127, 255, 212, 0.323);
  width: 50vw;
  height: 40vh;
  /* min-height: 400px; */
  min-width: 600px;
  /* flex-direction: column; */
  display: flex;
  box-shadow: 0 10px 0px;
}

.imgHolder {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.characterDetails {
  flex-basis: 0;
  flex-grow: 1;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line {
  width: 2px;
  background-color: grey;
  margin: 20px 5px;
}

.box img {
  border: solid black;

  width: 300px;
  height: fit-content;
  /* padding-bottom: 100px; */
  border-radius: 10px;
  margin-top: 40px;
}

.item {
  border: solid black;
  border-radius: 10px;
  overflow: hidden;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  transition: linear 0.1s;
  width: 200px;
}

.item img {
  width: 200px;
}

.prevButton,
.nextButton {
  /* padding: 10px 20px; */
  font-size: 18px;
  height: 40px;
}

.prevButton a,
.nextButton a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(-8px);
}
.nextButton a p {
  padding-left: 10px;
}
.prevButton a p {
  padding-right: 10px;
}

.prevButton i,
.nextButton i {
  font-size: 50px;
}

.item h3 {
  height: 100%;
  padding: 10px 0;
  background-color: cadetblue;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
}

.item:hover {
  cursor: pointer;
  border: solid white;
  transform: scale(1.04);
  /* transform: translateY(20px); */
  box-shadow: 0px 0px 20px black;
}

.item:active {
  box-shadow: 0px 0px 0px black;

  /* transform: translateY(0px); */
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .item {
    width: 140px;
  }
  .item img {
    width: 140px;
  }

  .boxHolder {
    /* box-sizing: border-box; */
    margin: 10px;
    margin-top: 70px;
    width: auto;
    height: 100%;
    /* padding-bottom: 100px; */
  }

  .box img {
    width: 280px;
    /* border-radius: 50px; */
  }
  .line {
    width: auto;
    height: 2px;
    margin: 10px 20px;
  }

  .characterDetails {
    padding-top: 0;
    padding-left: 20px;
  }

  .box {
    padding-bottom: 60px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* box-sizing: border-box; */
    /* min-height: 200px; */
    min-width: auto;
  }
}
